{% with request.resolver_match.view_name as view_name %}
<article>
  {% if post.category == 'Не найдено' %}
  <p>Пост номер {{ post.id }} не найден</p>
  {% else %}
    <ul>
      <li>
        Место: {{ post.location }}              
      </li>
      <li>
        Дата: {{ post.date }}
      </li>
      <li>
        Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
      </li>
    </ul>
    {% if view_name == 'blog:index' %}
    <p>
      {{ post.text|truncatewords:10 }}  
    </p>
    <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
    <hr>
    {% elif view_name == 'blog:post_detail' %}
    <p>
      {{ post.text|linebreaksbr }}
    </p>
    {% endif %}
    {% endif %}          
  </article>
{% endwith %} 